
.question-container {
  width: 80%;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
}
@media screen and (min-width: 768px) {
  .question-container {
    width: 30%;
    padding: 40px;
  }
}
.question-text {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .question-text {
    font-size: 24px;
  }
}
.emojis-list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .emojis-list {
    margin-top: 50px;
  }
}
.emoji-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emoji-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.emoji {
  width: 60px;
}
.emoji-name {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
